<% @user.each do |user| %>
  <div class="fixed">
      <%= render 'relationships/follow' %>|<%#フォローbtn%>
      <%= link_to '戻る', users_path %><br>
      <%= image_tag(@user.image.url, class:"resize2") if @user.image? %> <br>
      <%= link_to "フォロー中[#{user.active_relationships.count}]", follows_user_path %>|
      <%= link_to "フォロワー[#{user.passive_relationships.count}]", followers_user_path %> <br>
      <%=  "username: #{user.username}<br>".html_safe if user.username? %>
      <%=  "name: #{user.name}<br>".html_safe if user.name? %> 
      <%=  "link: #{user.link}<br>".html_safe if user.link? %>
      <%=  "sex: #{user.sex}<br>".html_safe if user.sex?%>
      <%=  "profile: #{user.profile}<br>".html_safe if user.profile? %> <br>
  </div>
<% end %>