<div class="">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="fixed">
          <%= link_to 'フォローする', users_path %> |
          <%= link_to '戻る', users_path %><br>
          <%= gravatar_for @user %> <br>
          <%=  "username: #{@user.username}<br>".html_safe if @user.username? %>
          <%=  "name: #{@user.name}<br>".html_safe if @user.name? %> 
          <%=  "link: #{@user.link}<br>".html_safe if @user.link? %>
          <%=  "sex: #{@user.sex}<br>".html_safe if @user.sex?%>
          <%=  "profile: #{@user.profile}<br>".html_safe if @user.profile? %> <br>
        </div>
      </div>
      <div class="col-sm color1">
          <div class="">
            <%= render 'pictures/picture', obj: @user.pictures %>
          </div>
      </div>
      <div class="col-sm color2">
          <div class="">
            <%= render 'pictures/fav_picture', obj: @favorite_pictures %>
          </div>
      </div>
    </div>
  </div>
</div>
