<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= link_to "search", search_path %>
      <% if user_signed_in? %>
        <% if current_user.image? %>
          <img src='<%= current_user.image.url %>' class="resize2" alt="ユーザーアイコン">
        <% else %>
          <image src="/assets/default.png" class="resize2" alt="ユーザーアイコン" %>
        <% end %>
         <br>
        <%= current_user.name %> <br>
        <% current_user.followers.each do |user| %>
          <% if user.image? %>
            <img src='<%= user.image.url %>' class="resize2" alt="ユーザーアイコン">
          <% else %>
            <image src="/assets/default.png" class="resize2" alt="ユーザーアイコン" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="com-lg">
      <%= render 'picture', obj: @pics %>
    </div>
  </div>
</div>