<div class="container">
  <div class="row">
    <div class="col-4 color1">
      <div class="fixed">
        <% if user_signed_in? %>
          <h1><%= render 'users/user_image', obj: current_user %><br>
          <%= current_user.name %></h1><br>
          <% current_user.followers.each do |user| %>
            <%= render 'users/user_image', obj: user %>
          <% end %>
          <div class="color2 form">
            <%= render 'pictures/form'%>
          </div>
        <% else %>
          <%#= render 'users/sign_in' %><!-- ログインフォーム -->
        <% end %>
      </div>
    </div>
    <div class="col-8 color2 main">
      <div class="">
        <%= render 'picture', obj: @pics %>
      </div>
    </div>
  </div>
</div>