<div class="container">
  <div class="row">
    <div class="col-4 color1 side">
      <% if user_signed_in? %>
        <% provide(:title, current_user.name)%>
        <div class="top-picture">
          <%= render 'users/user_image', obj: current_user %><br>
          <h1><%= current_user.name %></h1>
        </div>
        <div class="index">
          <% current_user.followings.each do |user| %>
            <%= render 'users/user_image', obj: user %>
          <% end %>
        </div>
        <div class="color2 form">
          <%= render 'pictures/form'%>
        </div>
      <% else %>
        <div class="fixed">
          <button type="button" class="btn btn-outline-primary"><%= link_to "新規登録", new_user_registration_path %></button>
          <button type="button" class="btn btn-outline-primary"><%= link_to "LogIn", new_user_session_path %></button>
          <button type="button" class="btn btn-outline-primary"><%= link_to "FBからログイン", user_facebook_omniauth_callback_path %></button>
        </div>
      <% end %>
    </div>
    <div class="col-8 color2 main">
      <% @users.each do |user| %>
        <% pics = Picture.where(user_id: user.id) %>
        <%= render 'picture', obj: pics %>
      <% end %>
    </div>
  </div>
</div>