<div class="container">
  <div class="row">
    <div class="col-4 color1">
      <div class="fixed">
        <h1><%= render 'users/user_image', obj: current_user %><br>
        <%= current_user.name %></h1><br>
        <% current_user.followers.each do |user| %>
          <%= render 'users/user_image', obj: user %>
        <% end %>
        <div class="color2 form">
          <%= render 'pictures/form'%>
        </div>
      </div>
    </div>
    <div class="col-8 color2 main">
      <div class="">
        <%= render 'pictures/search', obj: @pics %>
      </div>
    </div>
  </div>
</div>