<% provide(:title, @pic.title)%>
<div class="main">
  <%= image_tag @pic.image.url if @pic.image? %>
  <h1><%= @pic.title %></h1>
  <p><%= @pic.description %></p>
    <% if user_signed_in? %>
      <% if @pic.favorited_by?(current_user) %>
        <%=link_to picture_favorites_path(@pic.id), method: :delete do %>
          <i class="fa fa-heart fa-2x" style="color:red;"></i>
        <% end %>
      <% else %>
        <%=link_to picture_favorites_path(@pic.id), method: :post do %>
          <i class="fa fa-heart-o fa-2x" style="color:red;"></i>
        <% end %>
      <% end %>
        <%= @pic.favorites.count %>
    <% else %>
      <i class="fa fa-heart-o fa-2x" style="color:red;"></i><%= @pic.favorites.count %>
    <% end %>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments } %>
  </div>
  <div class="comment_area">
    <%= render partial: 'comments/form', locals: { comment: @comment, pic: @pic }  %>
  </div>
  Pic by
  <p><%= link_to @pic.user.name, user_path(@pic.user) %></p>

  <%= link_to "戻る", root_path %>
  <% if user_signed_in? && (current_user == @pic.user || current_user.admin?) %>
  <%= link_to "編集", edit_picture_path %>
  <%= link_to "消去", picture_path, method: :delete, data: {confirm: "本当によろしいですか？"} %>
  <% end %>
</div>