<%= image_tag @pic.image.url if @pic.image? %>
<h1><%= @pic.title %></h1>
<p><%= @pic.description %></p>
Pic by
<p><%= link_to @pic.user.name, user_path(@pic.user) %></p>

<%= link_to "戻る", root_path %>
<% if user_signed_in? %>
<%= link_to "編集", edit_picture_path %>
<%= link_to "消去", picture_path, method: :delete, data: {confirm: "本当によろしいですか？"} %>
<% end %>