<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Instagram</a>
 
    </ul>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "新規作成", new_picture_path %></li>
        <li><%= link_to "ユーザー一覧", users_path %></li>
        <li><%= link_to "情報変更", edit_user_registration_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class="nav nav-nav navbar-left">
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "LogIn", new_user_session_path %></li>
      </ul>
    <% end %>

  </div>
</nav>